{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block content %}
  <div class="container">
    <section class="about">
      <h1 class="about-title">About Me</h1>

      <div class="about-content">
        <div class="about-desc">
          <p>Hi there! I am Kaj Lund. I live on the Finnish northern west coast.
            I have been working as a professional software developer since 1998.
            During the past 10+ years I've mainly worked with fullstack web development mostly building backends and
            REST APIs using Node.js.
          </p>
          <p>Lately I'm back to mostly doing Delphi backend programming and Node.js integrations.</p>
        </div>
        <div class="about-img">
          <img src="/img/luka.jpg" alt="LuKa">
        </div>
    </section>

    <section class="history">
      <h2>What I'm Up To</h2>

      <h3>2026</h3>
      <ul>
        <li>AI tools training</li>
        <li>Lit/Web components</li>
        <li>Rebuilt my website</li>
      </ul>

      <h3>2025</h3>
      <ul>
        <li>More SQL Basics</li>
        <li>Familiarized myself with Drizzle ORM.</li>
        <li>More backend testing using Vitest.</li>
        <li>Replanning my website</li>
        <li>Looking at AI tools</li>
      </ul>

      <h3>2024</h3>
      <ul>
        <li>Build this website using server templating techniques.</li>
        <li>Learn more Devops suff like Docker, Kubernetes and Helm</li>
      </ul>

      <h3>2023</h3>
      <ul>
        <li>Some SQL basics. Need to do more.</li>
        <li>Built <a href="https://ginasgrill.netlify.app/" target="_blank">Gina's Grill</a> website</li>
      </ul>

      <h3>2022</h3>
      <ul>
        <li>Look into using Fastify as a possible replacement for Express</li>
        <li>Learning about React and Next.js</li>
        <li>Took some GraphQL courses</li>
      </ul>

      <h3>2021</h3>
      <ul>
        <li>Learning Svelte.js and SvelteKit. The former version of this site was built using those tools.</li>
        <li>Worked with Express instead of Hapi.js for Node.js server development</li>
      </ul>

      <h3>2020</h3>
      <ul>
        <li>Took some Golang courses</li>
        <li>Took some TypeScript, LitHtml, Express & GraphQL courses</li>
        <li>Course on doing Microservices with Node.js</li>
        <li>Worked some with Svelte.js</li>
      </ul>

      <h3>2019</h3>
      <p>Themes are Code-Quality (Testing, Documentation), REST alternatives and Client-Side frameworks.
        As big part of testing in JS is type-checking, using TypeScript could be considered a part of testing.</p>
      <ul>
        <li>Start using JDoc or alternative on all code.</li>
        <li>Try Express to compare with Hapi</li>
        <li>Compare GraphQL aa an alternative to REST</li>
        <li>Look into new ECMA features for Node.</li>
      </ul>

      <h3>2018</h3>
      <ul>
        <li>Use <a href="https://github.com/prettier/prettier" target="_blank">Prettier</a> for code linting and
          formatting
        </li>
        <li>New ECMA features. Check <a href="https://node.green/" target="_blank">Node Green</a> for things you can
          use
          in
          node</li>
        <li>Switch node servers to use hapi 17, Node 8+, async/await</li>
        <li>Using Node 8+ objects and arrays has .includes() function</li>
      </ul>
    </section>
  </div>
{% endblock %}
