{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="css/demos.css">
{% endblock %}

{% block content %}
  <div class="container">
    <section class="demos">
      <h1 class="title">Demos</h1>
      <p>Coming up...</p>
    </section>
  </div>
{% endblock %}
