{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="css/home.css">
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">{{message}}</h1>

      <quote-island>
        <span slot="content">{{ quote.content }}</span>
        <span slot="author">{{ quote.author }}</span>
      </quote-island>

      <div class="cta-group">
			  <a href="/demos" class="btn-primary">View Demos</a>
			  <a href="/about" class="btn-outline">Learn More</a>
		  </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="module" src="/js/quote-island.js"></script>
{% endblock %}
